@font-face {
  font-family: WonderType;
  src: url("/fonts/WonderType-Regular.otf");
}

@font-face {
  font-family: Albertsthal;
  src: url("/fonts/Albertsthal\ Typewriter.ttf");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 26px 78px;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background: url(/images/grass.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Albertsthal";
}

.header {
  position: fixed;
  top: 26px;
}

.content {
  position: relative;
  font-size: 16px;
  margin-left: 16px;
  color: #070707;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 8vh;
  gap: 5vw;
}

.shoe {
  display: inline-block;
  position: relative;
  align-self: flex-end;
  width: calc(26vw + 26vh - 104px);
  min-width: 208px;
  height: auto;
  bottom: 52px;
}

.footer {
  display: flex;
  position: fixed;
  gap: 13px;
  bottom: 26px;
}

.icon {
  color: rgb(153, 153, 153);
  font-size: 24px;
}

@media (orientation: portrait) {
  .main {
    padding: 26px 0px;
  }

  .body {
    flex-direction: column;
    margin-top: 156px;
    bottom: 52px;
  }
}

/* @media screen and (max-width: 1024px) and (min-width: 641px) {
  .body {
    gap: 52px;
  }
}

@media screen and (max-width: 640px) {
  .body {
    gap: 26px;
  }
} */

/* @media screen and (max-width: 915px) and (max-height: 915px) {
  main {
    padding: 26px 0 0 52px;
  }

  .content {
    font-size: 14px;
  }

  .footer {
    right: 26px;
    bottom: 26px;
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .shoe {
    position: relative;
    align-self: flex-end;
    width: 494px;
    height: auto;
    bottom: 52px;
  }

  .body {
    flex-direction: column;
  }

  .shoe-z {
    width: 520px;
    margin-bottom: 20px;
  }
} */

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  gap: 5px;
  z-index: 1000;
}

.modalImage {
  /* flex: 1; */
  /* flex-direction: row; */
  position: relative;
  /* padding: 20px; */
  /* margin-right: 20px; */
}

.modalContent {
  /* flex: 1; */
  /* display: flex; */
  position: relative;
  background: white;
  padding: 25px 15px;
  height: 550px;
  width: 300px;
  line-height: 17px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.details {
  list-style-type: none;
}

.input {
  padding: 2px;
  font-family: "Albertsthal";
}

.preorder {
  background-color: black;
  color: white;
  font-family: "Albertsthal";
  font-size: large;
}

@media (orientation: portrait) {
  .modalContainer {
    flex-direction: col;
  }

  .body {
    flex-direction: column;
    margin-top: 156px;
    bottom: 52px;
  }
}
